{% if site.related_posts.size > 0 %}
<div class="page__related">
  <h3 class="archive__subtitle">You May Also Enjoy</h3>
  <div class="grid__wrapper">
    {% for post in site.related_posts %}
      <article class="archive__item">
        <h4 class="archive__item-title no_toc">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h4>
        <!--{# 설명 생략됨: 아래 줄을 삭제/주석처리함 #} -->
        <!--{# <p>{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p> #} -->
      </article>
    {% endfor %}
  </div>
</div>
{% endif %}